#page {
	width: 100%;
	height: 100%;
	margin: 0 auto;
	background-color:#feffd7;
}

#header {
	width: 100%;
	height: 10%;
	border: 1px solid #000;
	margin-bottom:16px;
}

#header {
	width: 100%;
	height: 32px;
	border: 1px solid #000;
	margin-bottom:16px;
}

#errors {
	width: 100%;
	border: 1px solid #000;
	margin-bottom:16px;
}

#content {
	width: 100%;
	height: auto;
	margin-right:16px;
	margin-bottom:16px;
	border: 1px solid #000;
}

#footer {
	width: 100%;
	height: 32px;
	border: 1px solid #000;
}